.item-list .gdocs-list {
  margin: 0;
  padding: 0;
}

.item-list .gdocs-list li {
  list-style-type: none;
}

.gdocs-list .gdocs-icon {
  vertical-align: middle;
}

.gdocs-heading {
  width: 100%;
  overflow: auto;
  border-bottom:1px solid silver;
  margin-bottom:1em;
  zoom: 1;
}

.gdocs-heading .icon {
  float: left;
  margin: 0 10px 10px 0;
}

.gdocs-heading .gdocs-text {
  vertical-align: middle; 
}

